@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.contenido{
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    /*Centramos de forma vertical con flex-column*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*Permite que los items(bordes) ocipen un ancho adecuado y no todo el borde*/
    /*text-align: center;*/
    padding: 0px 30px;
}

/*Este pequeño contenido de codigo "contenido::before" me permite colocarle un color transparente encima de la imagen*/
/*.contenido::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(255, 165, 0, 0.2);
}*/

.contenido h1{
    font-size: 40px;
    margin-bottom: 20px;
    /*z-index: 2;*/ /* Solo es necesario si uso el codigo contenido::before */
}

.contenido p{
    font-size: 20px;
    margin-bottom: 20px;
    /*z-index: 2;*/ /* Solo es necesario si uso el codigo contenido::before */
}

.button{
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    background: rgba(255, 0, 0,0.8);
    border-radius: 5px;
    /*z-index: 2;*/ /* Solo es necesario si uso el codigo contenido::before */
}

header{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    /*border: 2px solid green;*/
    width: 100%;
    height: 55px;
    z-index: 10;
}

.contmenu nav{
    /*border: 2px solid blue;*/
    text-align: center;
    margin-top: -30px;
    /*margin-top: 14px;*/
}

nav li{
    list-style: none;
    display: inline-block;
}

li a{
    position: relative;
    font-size: 18px;
    text-decoration: none;
    padding: 16px 35px;
    cursor: pointer;
}

.logo{
    position: relative;
    display: flex;
    margin-left: 10px;
}

.milogo{
    position: absolute;
    top: 11px;
}

.logo h1{
    float: left;
    margin-top: 5px;
    margin-left: 40px;
}

#menubar{
    display: none;
}

label{
    display: none;
}


.contenido2{
    margin-top: 40px;
}

.texto{
    text-align: center;
    background: red;
    width: 200px;
    padding: 15px;
    margin: auto;
}

.flexcajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cajas{
    position: relative;
    /*border: 2px solid red; */
    text-align: center;
    margin: 50px;
    width: 340px; /* c2: Codigo para regularizar en un mismo tamaño una imagen  */
}

.cajas img{
   width: 100%;  /* c2: Codigo para regularizar en un mismo tamaño una imagen */
   height: 100%; /* c2: Codigo para regularizar en un mismo tamaño una imagen */
   object-fit: cover; /* c2: Codigo para regularizar en un mismo tamaño una imagen */

    /*width: 100%;*/ /* c1: Codigo para regularizar imagen pero no iguala las imagenes en tamaño*/
    /*max-width: 340px;*/ /* c1: Codigo para regularizar imagen pero no iguala las imagenes en tamaño */
}

.cajas h1{
    color: white;
    background: brown;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width:1020px){
    .contmenu nav{
        position: absolute;
        top: 85px;
        left: 0;
        background: rgba(32, 1, 1, 0.8);
        width: 100%;
        height: 100vh;
        transform: translate(-100%);
        transition: all 0.5s;
    }

    nav li{
        border-bottom: 2px solid white;
        display: block; 
        height: 50px;
    }

    li a{
        top: 13px;
        /*border: 2px solid blue;*/
    }

    label{
        position: relative;
        display: initial;
        float: right;
        margin-top: -35px;
        margin-right: 10px;
        cursor: pointer;
    }
    label img{
        width: 30px;
    }

    #menubar:checked ~ .contmenu nav{
        transform: translateX(0%);
        transition: all 0.5s;
    } 
}

